<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>		
		<target xsi:type="File" name="allfile" fileName="C:\Users\CEM\Desktop\WasteSegregationApiLogs\nlog-all-${shortdate}.log"
				layout="${newline}${longdate}|${uppercase:${level}}|${logger}|${message}|${exception:format=tostring}" />
		<target xsi:type="File" name="exceptions" fileName="C:\Users\CEM\Desktop\WasteSegregationApiLogs\nlog-all-exceptions-${shortdate}.log"
				layout="${newline}${longdate}|${uppercase:${level}}|${logger}|${message}|${exception:format=tostring}" />
	</targets>

	<rules>
		<logger name="Microsoft.*" maxlevel="None" final="true" />
		<logger name="System.*" maxlevel="None" final="true" />
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<logger name="*" minlevel="Error" writeTo="exceptions" />
	</rules>
</nlog>